pandas
xlrd
xlwt
flask
sqlalchemy
pymupdf
pymupdf4llm
fitz
plotly
frontend
streamlit
streamlit-extras
openai
PyPDF2
scikit-learn
matplotlib
seaborn
transformers
bitsandbytes
torch
duckdb
html5lib
jaydebeapi
beautifulsoup4
textblob
wordcloud
pytesseract
collections-extended
nltk
faiss-cpu
sentence-transformers
streamlit_extras
datasets
numpy
langchain
langchain-openai
nest-asyncio
langchain-community
requests
pdfplumber
ollama
