pandas
llama_index
xlrd
xlwt
flask
sqlalchemy
pymupdf
pymupdf4llm
fitz
plotly
frontend
streamlit
streamlit-extras
openai
vertexai
jupyter
huggingface_hub
PyPDF2
scikit-learn
matplotlib
seaborn
transformers
bitsandbytes
torch
duckdb
html5lib
jaydebeapi
beautifulsoup4
textblob
wordcloud
pytesseract
collections-extended
nltk
extract-msg
pillow
moviepy
pinecone-client
crewai[tools]
faiss-cpu
sentence-transformers
transformers
streamlit_extras
datasets
llama-index-core
numpy
langchain
langchain-openai
nest-asyncio
langchain-community
requests
pdfplumber
ollama
pgpt_python